In [147]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [570]:
df=pd.read_csv(r'employees-arabic-new.csv')

In [545]:
df

,السنة,الربع,المنطقة,النشاط الاقتصادي,حجم المنشأة,عدد المنشآت,عدد العاملين السعوديين,عدد السعوديين (ذكور),عدد السعوديات (إناث),عدد العاملين الأجانب,عدد الأجانب (ذكور),عدد الأجنبيات (إناث)
0,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,54,320,137,183,523,516,7
1,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,كبيرة,1,221,207,14,213,212,1
2,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,184,122,65,57,287,285,2
3,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متوسطة,6,239,130,109,329,326,3
4,2023,1,منطقة الباحة,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,7,2,2,0,13,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2756,2023,1,منطقة مكة المكرمة,غير معرف,صغيرة,411,747,382,365,3415,3331,84
2757,2023,1,منطقة مكة المكرمة,غير معرف,متناهية الصغر,15906,2160,1150,1010,26704,25862,842
2758,2023,1,منطقة مكة المكرمة,غير معرف,متوسطة,8,225,129,96,585,582,3
2759,2023,1,منطقة نجران,غير معرف,صغيرة,46,59,23,36,433,432,1
2760,2023,1,منطقة نجران,غير معرف,متناهية الصغر,3306,239,131,108,6891,6849,42

In [386]:
df.shape

(2761, 12)

In [387]:
df.head(10)

,السنة,الربع,المنطقة,النشاط الاقتصادي,حجم المنشأة,عدد المنشآت,عدد العاملين السعوديين,عدد السعوديين (ذكور),عدد السعوديات (إناث),عدد العاملين الأجانب,عدد الأجانب (ذكور),عدد الأجنبيات (إناث)
0,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,54,320,137,183,523,516,7
1,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,كبيرة,1,221,207,14,213,212,1
2,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,184,122,65,57,287,285,2
3,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متوسطة,6,239,130,109,329,326,3
4,2023,1,منطقة الباحة,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,7,2,2,0,13,13,0
5,2023,1,منطقة الجوف,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,3,12,8,4,23,23,0
6,2023,1,منطقة الجوف,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,17,6,2,4,33,33,0
7,2023,1,منطقة الحدود الشمالية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,1,4,4,0,26,26,0
8,2023,1,منطقة الحدود الشمالية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,12,2,2,0,26,26,0
9,2023,1,منطقة الرياض,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,159,898,365,533,1322,1287,35

In [427]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2761 entries, 0 to 2760
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   السنة                   2761 non-null   int64
 1   الربع                   2761 non-null   int64
 2   المنطقة                 2761 non-null   object
 3   النشاط الاقتصادي        2761 non-null   object
 4   حجم المنشأة             2761 non-null   object
 5   عدد المنشآت             2761 non-null   int64
 6   عدد العاملين السعوديين  2761 non-null   int64
 7   عدد السعوديين (ذكور)    2761 non-null   int64
 8   عدد السعوديات (إناث)    2761 non-null   int64
 9   عدد العاملين الأجانب    2761 non-null   int64
 10  عدد الأجانب (ذكور)      2761 non-null   int64
 11  عدد الأجنبيات (إناث)    2761 non-null   int64
dtypes: int64(9), object(3)
memory usage: 259.0+ KB

In [426]:
df.isnull().sum()

السنة                     0
الربع                     0
المنطقة                   0
النشاط الاقتصادي          0
حجم المنشأة               0
عدد المنشآت               0
عدد العاملين السعوديين    0
عدد السعوديين (ذكور)      0
عدد السعوديات (إناث)      0
عدد العاملين الأجانب      0
عدد الأجانب (ذكور)        0
عدد الأجنبيات (إناث)      0
dtype: int64

In [224]:
sales_df.describe()

,السنة,الربع,عدد المنشآت,عدد العاملين السعوديين,عدد السعوديين (ذكور),عدد السعوديات (إناث),عدد العاملين الأجانب,عدد الأجانب (ذكور),عدد الأجنبيات (إناث)
count,2761.0,2761.0,2761.000000,2761.000000,2761.000000,2761.000000,2761.00000,2761.000000,2761.000000
mean,2023.0,1.0,434.568272,809.024267,486.466498,322.557769,2788.79464,2677.674756,111.119884
std,0.0,0.0,3141.656144,2984.337731,2100.759424,1150.146681,12895.53561,12314.913103,1725.970501
min,2023.0,1.0,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,2023.0,1.0,3.000000,12.000000,6.000000,4.000000,40.00000,38.000000,0.000000
50%,2023.0,1.0,15.000000,69.000000,38.000000,26.000000,212.00000,205.000000,1.000000
75%,2023.0,1.0,88.000000,370.000000,206.000000,152.000000,1130.00000,1064.000000,11.000000
max,2023.0,1.0,107429.000000,66311.000000,62386.000000,16670.000000,320241.00000,318328.000000,85391.000000

In [388]:
df.tail()

,السنة,الربع,المنطقة,النشاط الاقتصادي,حجم المنشأة,عدد المنشآت,عدد العاملين السعوديين,عدد السعوديين (ذكور),عدد السعوديات (إناث),عدد العاملين الأجانب,عدد الأجانب (ذكور),عدد الأجنبيات (إناث)
2756,2023,1,منطقة مكة المكرمة,غير معرف,صغيرة,411,747,382,365,3415,3331,84
2757,2023,1,منطقة مكة المكرمة,غير معرف,متناهية الصغر,15906,2160,1150,1010,26704,25862,842
2758,2023,1,منطقة مكة المكرمة,غير معرف,متوسطة,8,225,129,96,585,582,3
2759,2023,1,منطقة نجران,غير معرف,صغيرة,46,59,23,36,433,432,1
2760,2023,1,منطقة نجران,غير معرف,متناهية الصغر,3306,239,131,108,6891,6849,42

In [504]:
#sales_df["النشاط الاقتصادي"].replace('صنع', "الصناعات")
 
# creating a filter for age column
# where age = "Twenty five"
#filter = sales_df["The economic activity"]=="صنع"
 
# printing only filtered columns
#sales_df.where(filter).dropna()
#sales_df.head(90)
#sales_df['النشاط الاقتصادي'].str.replace(r'صنع', 'صناعات', regex=True)

#sales_df['النشاط الاقتصادي'].str.replace(r'(\sصتع)', 'صناعات', regex=True).to_list

df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'صُنع.+', 'صناعات', regex=True)

In [505]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'صناعة.+', 'صناعات', regex=True)

In [506]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'تجارة.+', 'تجارة', regex=True)

In [507]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'الخدمات.+', 'خدمات', regex=True)

In [ ]:
#after edit

In [573]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*خدمات.*', 'الخدمات', regex=True)

In [589]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*صُنع.*', 'الصناعات', regex=True)

In [ ]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*صنع.*', 'الصناعات', regex=True)

In [574]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*صناعة.*', 'الصناعات', regex=True)

In [575]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*تجارة.*', 'التجارة', regex=True)

In [576]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*للنقل.*', 'النقل', regex=True)

In [577]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*النقل.*', 'النقل', regex=True)

In [578]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*إقامة.*', 'الإقامة', regex=True)

In [579]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*المكاتب.*', 'أنشطة المكاتب ', regex=True)

In [580]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*للمكاتب.*', 'أنشطة المكاتب ', regex=True)

In [581]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*البرمجة.*', 'البرمجة ', regex=True)

In [582]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*تعدين.*', 'التعدين ', regex=True)

In [583]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*للتعدين.*', 'التعدين ', regex=True)

In [584]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*تشييد.*', 'الأنشطة المعمارية والهندسية ', regex=True)

In [585]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*المعمارية.*', 'الأنشطة المعمارية والهندسية ', regex=True)

In [586]:
df['النشاط الاقتصادي']=df['النشاط الاقتصادي'].str.replace(r'.*الهندسة.*', 'الأنشطة المعمارية والهندسية ', regex=True)

In [590]:
df['النشاط الاقتصادي'].nunique()

41

In [591]:
df['النشاط الاقتصادي'].unique()

array(['الخدمات', 'صيد الأسماك وتربية المائيات', 'الصناعات',
       'توصيل الكهرباء والغاز والبخار وتكييف الهواء',
       'تمويل التأمين وإعادة التأمين وصناديق المعاشات التقاعدية باستثناء الضمان الاجتماعي الإلزامي',
       'التعدين ', 'الأنشطة المعمارية والهندسية ',
       'تجميع المياه ومعالجتها وتوصيلها', 'التجارة',
       'أنشطة جمع النفايات ومعالجتها وتصريفها ، واسترجاع المواد',
       'أنشطة النشر', 'أنشطة المنظمات ذات العضوية',
       'أنشطة المكتبات والمحفوظات والمتاحف والأنشطة الثقافية الأخرى',
       'أنشطة المكاتب ', 'الإقامة',
       'أنشطة البريد ونقل الرسائل والطرود بواسطة مندوبين', 'البرمجة ',
       'أنشطة الأمن والتحقيقات',
       'أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل المنزلي',
       'أنشطة الاستخدام', 'النقل',
       'الطباعة واستنساخ وسائط الأعلام المسجّلة', 'الصرف الصحي',
       'الصحة البشرية', 'الحراجة وقطع الأخشاب', 'التعليم',
       'البحث والتطوير في المجال العلمي',
       'الأنشطة المهنية والعلمية والتقنية الأخرى',
       'الأنشطة القانونية وأنشطة المحاسبة', 'الأنشطة العقارية',
       'الأنشطة الرياضية وأنشطة التسلية والترفيه', 'الأنشطة البيطرية',
       'الأنشطة الإيجارية', 'الأنشطة الإبداعية والفنون وأنشطة الترفيه',
       'الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإلزامي', 'الاتصالات',
       'إصلاح وتركيب الآلات والمعدات',
       'إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية',
       'استخراج النفط الخام والغاز الطبيعي', 'أبحاث الإعلان والسوق',
       'غير معرف'], dtype=object)